.mlv-eye {
  background-image: url(https://i.annihil.us/u/prod/marvel/html_pages_assets/error-pages/prod/black-widow-eye.d8a46f86.png);
  width: 75px;
  height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  margin: inherit;
  background-size: cover;
  margin-left: 44.6em;
  margin-top: 15.1em;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.mlv-background {
  background-image: url(https://i.annihil.us/u/prod/marvel/html_pages_assets/error-pages/prod/black-widow-char.e296fbe1.jpg);
  height: 400px;
  min-width: auto;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  padding: 0;
}
.mlv-main-error-div {
  padding-right: 30px;
  padding-left: 30px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}