
.mvl-character-gri-filters{
    display: flex;
    gap: var(--space-lg);
    padding: var(--space-md) 0;
    width: 100%;
    box-sizing: border-box;
}
.mvl-character-grid-title{
    padding: 9px 30px 9px 9px;
    color: gray;
    padding-right: 30px;
    width: fit-content;
    border: 3px solid rgb(205, 3, 37);
}