@import '../../../../../assets/styles/main.scss';

.mvl-reward-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  height: 300px;
  align-items: center;
  background-color: black;
  color: var(--color-accent);
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  padding: 0px 40px 0px 0px;

  .mvl-reward-title {
    color: #f0141e;
  }
  .mvl-reward-conditions {
    font-size: 10px;
    margin-top: 10px;
  }

  .mvl-reward-conditions-content {
    margin-left: 100px;
  }
  .mvl-reward {
    border-radius: 15px 0px;
    color: white;
    padding: 12px 28px;
    cursor: pointer;
  }

  .button-red {
    background-color: #e62429;
  }
  .button-red:hover {
    background: #da190b;
  }

}
.mvl-reward-content-image img {
  width: 490px;
  height: 300px;
  margin-left: 150px;
  margin-top: auto;
}


  /*  a {
    text-decoration: none;
    color: white;
  }

  ul {
    list-style: none;
    line-height: 1.8;
  }

  a:hover {
    color: gray;
  } */
/* 
.main-footer-logo {
  @include centerFlex;
  img {
    width: 80px;
    height: 120px;
  }
}

.main-footer-promo {
  display: flex;
  flex-direction: column;
}
.main-footer-promotions-link {
  @include centerFlex;

  h4 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
  }

  h4:hover {
    color: none;
  }

  p {
    margin-top: 0px;
    font-size: 12px;
    color: gray;
  }

  img {
    width: 54px;
    height: 24px;
    margin-right: 30px;
  }

  .unlimited {
    width: 25px;
    height: 35px;
    margin-right: 35px;
  }
}

.icono {
  margin-right: 50px;
  h4 {
    font-size: 14px;
    margin-bottom: 20px;
  }

  ul {
    @include grid(4, 0, 100%);
    padding: 0;
  }
}

.icons {
  width: 24px;
  height: 25px;
}
 */
